<%- include("header.ejs") -%>


<h1 class="text-center">Contact</h1>
<strong>
<p>Name : Ajay Kumar Chauhan</p>
<p>Email-id:  Ajay1997@gmail.com</p>
</strong>

    
<%- include("footer.ejs") -%>
  
   
